<div class="container-fluid">
    <div class="row">
        <div class="col form-container p-0">
            <div class="row pt-3 shadow-sm rounded-3 border mt-5 mx-auto">
                <div class="col-auto h4 d-flex align-items-center cursor-pointer">
                    <i class="fa fa-arrow-left" aria-hidden="true" routerLink='/admin/stafflist'></i>
                    <!-- /admin/staff -->
                </div>
                <div class="col text-center p-0 py-2 px-2">
                    <h4 class="m-0 mx-2">Add New Staff Member</h4>
                </div>
                <div class="col-lg-12 p-0">
                    <form role="form" [formGroup]="staffForm" class="mx-3 shdow rounded pb-3" (ngSubmit)="save()">
                        <div class="row my-2 mx-auto">
                            <div class="col">
                                <!-- <label>Name<span *ngIf="editForm.get('name').invalid" style="color: red;">*</span></label> -->
                                <label class="label-text">Name</label>
                                <input type="text" class="form-control input-field" name="name" id="name"
                                    formControlName="name" placeholder="Enter Name" required>
                            </div>
                            <div class="col">
                                <label class="label-text">Email</label>
                                <!-- <label>Email<span *ngIf="editForm.get('email').invalid" style="color: red;">*</span></label> -->
                                <input type="email" class="form-control input-field" name="email" id="email"
                                    formControlName="email" placeholder="Enter Email" required>
                            </div>
                            <div class="col">
                                <!-- <label>Contact<span *ngIf="editForm.get('phone').invalid"
                                                    style="color: red;">*</span></label> -->
                                <label class="label-text">Contact</label>
                                <input type="text" (keypress)="mobileNO($event)" class="form-control input-field"
                                    name="contact" id="phone" formControlName="contact"
                                    placeholder="Enter Contact Number" minlength="10" maxlength="10">
                            </div>

                            <div class="col">
                                <label class="label-text">Designation</label>
                                <!-- <label>Email<span *ngIf="editForm.get('email').invalid" style="color: red;">*</span></label> -->
                                <input type="email" class="form-control input-field" name="designation" id="designation"
                                    formControlName="designation" placeholder="Designation" required>
                            </div>
                            <div class="col">
                                <label class="label-text">Password</label>
                                <!-- <label>Email<span *ngIf="editForm.get('email').invalid" style="color: red;">*</span></label> -->
                                <input type="email" class="form-control input-field" name="password" id="password"
                                    formControlName="password" placeholder="Password" required>
                            </div>
                            <div class="col-auto d-flex align-items-end">
                                <div class="anim-btn mb-1">
                                    <button type="submit" [disabled]="staffForm.invalid" class="btn anim-btn__button">
                                        <span *ngIf="loader">Save</span>
                                        <div *ngIf="!loader" class="spinner-border text-warning" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </button>
                                    
                                    <div class="anim-btn__overlay"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>