<div class="container-fluid">
    <div class="row">
        <div class="col-2 border links_sidebar">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12">
                    <app-main></app-main>
                </div>
                <div class="col-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>