// .sidebar-header {
//     .logo {
//         display: block;
//         margin: 10px 0 30px;
//         img {
//             width: 100px;
//             display: block;
//             margin: 0 auto;
//         }
//     }
//     .btn_cross {
//         display: none;
//     }
// }

// .sidebar-menu {
// min-height: 52.5rem;
// background-color: orange;
// color: #fff;
//     ul {     
//         li {
//             a {
//                 color: #04131e;
//                 display: block;
//                 font-size: 14px;
//                 padding: 17px 0 13px 30px;
//                 background-size: 18px !important;

//             }
//             &.selected {
//                 position: relative;
//             }
//             &:hover {
//                 background-color: #e8eaf5;            
//             }
//             &.dashboard {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/dashboard-icon.png) no-repeat center left;
//                 }           
//             }
//             &.partner {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/partner-icon.png) no-repeat center left;
//                 }               
//             }
//             &.offer {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/offer-icon.png) no-repeat center left;
//                 }               
//             }
//             &.car-lead {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/leads-icon.png) no-repeat center left;
//                 }              
//             }
//             &.package {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/membership-icon.png) no-repeat center left;
//                 }             
//             }
//             &.billing {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/card-icon.png) no-repeat center left;
//                 }               
//             }
//             &.booking {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/booking-icon.png) no-repeat center left;
//                 }              
//             }
//             &.enquiries {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/enquiry-icon.png) no-repeat center left;
//                 }              
//             }
//             &.lead-pool {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/lead-pool-icon.png) no-repeat center left;
//                 }               
//             }
//             &.documents {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/document-icon.png) no-repeat center left;
//                 }               
//             }
//             &.manage-user {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/manage-icon.png) no-repeat center left;
//                 }              
//             }
//             &.profile {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/profile-icon.png) no-repeat center left;
//                 }               
//             }
//             &.agreement {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/aggrement-icon.png) no-repeat center left;
//                 }              
//             }
//             &.sign-out {
//                 a {
//                     // background: url(../../../assets/img/dealer-panel/signout-icon.png) no-repeat center left;
//                 }               
//             }
//         }
//     }
//     &::-webkit-scrollbar {
//         width: 10px;
//     }
//     &::-webkit-scrollbar-track {
//         background: #f1f1f1;
//         border-radius: 10px;
//     }
//     &::-webkit-scrollbar-thumb {
//         background: #888;
//         border-radius: 10px;
//     }
//     &::-webkit-scrollbar-thumb:hover {
//         background: #ffa500;
//     }
// }

// @media screen and (max-width: 480px) {
//     .flex {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
//     .sidebar-header {
//         .imgcancle_div {
//             display: flex;
//         }
//         .logo {            
//             margin: 10px 30px 30px;
//             img {
//                 width: 50%;
//                 display: block;
//                 margin: 0 auto;
//             }
//         }
//         .btn_cross {
//             display: block;
//             margin: 20px 10px 0px 0px;
//             span {
//                 font-size: 25px;
//                 height: 25px;
//                 background: #fff;
//                 width: 25px;
//                 display: flex;
//                 align-items: center;
//                 justify-content: center;
//             }
//         }
//     }
// }

// .has-item {
//     position: relative;
//     ul.sub-menu {
//         padding-left: 20px;
//         display: none;
//     }
//     &::after {
//         content: '';
//         // background: url(../../../assets/img/select.png) no-repeat center center;
//         width: 12px;
//         height: 8px;
//         display: block;
//         position: absolute;
//         right: 17px;
//         top: 21px;
//     }
// }
.links_sidebar {
    background: #fff;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    height: 100vh;
}