.img-div {
    img {
        height: 30px;
        width: 51px;
    }
}

.activeButton {
    .switch input {
        position: absolute;
        opacity: 0;
    }

    /**
       * 1. Adjust this to size
       */

    .switch {
        display: inline-block;
        font-size: 20px;
        /* 1 */
        height: 1em;
        width: 2em;
        background: #BDB9A6;
        border-radius: 1em;
    }

    .switch div {
        height: 1em;
        width: 1em;
        border-radius: 1em;
        background: #FFF;
        box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        transition: all 300ms;
    }

    .switch input:checked+div {
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

}

.toggle-button {
    font-size: 2rem;
}

.verticel-center {
    vertical-align: baseline;
}

