<div class="container-fluid position-relative">
    <div class="row">
        <!-- <div class="col-2 p-0 " *ngIf="showSiderBar">
            <app-sidebar></app-sidebar>
        </div> -->
        <div class="col">
            <div class="row mx-auto my-3">
                <!-- <div class="row bg-warning py-3 mx-auto">
                    <div class="img-div">
                        <img class="cursor-pointer" src="../../assets/images/navtoggle-removebg-preview.png" alt="" (click)="openSiderBar()">
                    </div>
                </div> -->
                <!-- <div class="col-10 py-2 px-0">
                    <div class="row">
                        <div class="col-auto">
                            <button class="btn btn-primary tellecaller-btn mr-2" [disabled]="isExportingCSV"
                                (click)="exportLeadCSV()">{{isExportingCSV ?
                                'Exporting...' : 'Lead Export '}}</button>
                        </div>
                        <div class="col-auto">
                            <input type="file" accept=".csv" (change)="onCSVSelected($event)" #file [hidden]="true">
                            <button class="btn tellecaller-btn btn-info" (click)="file.click()"
                                [disabled]="isImportingCSV1">{{isImportingCSV1 ?
                                'Importing...' : 'Lead Import '}}</button>
                        </div>
                    </div>
                </div> -->

                <div class="col-auto ms-auto anim-btn ms-auto p-0">
                    <button class="anim-btn__button" routerLink="/admin/staff">Add new staff</button>
                    <div class="anim-btn__overlay"></div>
                </div>
            </div>
            <div class="row mx-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Designation</th>
                            <th scope="col">Password</th>
                            <th scope="col">
                                Active/
                                Inactive
                            </th>
                            <th scope="col">
                                Lead Assignment
                            </th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let staff of staffs;let i=index">
                            <td>{{i+1}}</td>
                            <td>{{staff.Name}}</td>
                            <td>{{staff.Email}}</td>
                            <td>{{staff.Contact}}</td>
                            <td>{{staff.Designation}}</td>
                            <td>{{staff.PlainPass}}</td>
                            <td class="verticel-center">
                                <i class="fa toggle-button cursor-pointer fa-toggle-on" (click)="activeButton(i,false)"
                                    *ngIf="staff.status" aria-hidden="true"></i>
                                <i class="fa toggle-button cursor-pointer fa-toggle-off" (click)="activeButton(i,true)"
                                    *ngIf="!staff.status" aria-hidden="true"></i>
                            </td>
                            <td class="verticel-center">
                                <i class="fa toggle-button cursor-pointer fa-toggle-on" *ngIf="staff.revoke"
                                    (click)="revokeButton(i,false)" aria-hidden="true"></i>
                                <i class="fa toggle-button cursor-pointer fa-toggle-off" *ngIf="!staff.revoke"
                                    (click)="revokeButton(i,true)" aria-hidden="true"></i>
                            </td>
                            <td [routerLink]="['/admin/staff/update',staff._id]">
                                <i class="fa fa-eye cursor-pointer" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="loader-body flex-column position-absolute top-0 opacity-75 end-0 start-0 d-flex align-items-center justify-content-center"
        *ngIf="loader">
        <div class="spinner-border" role="status">
        </div>
        <h2 class="mb-0 mt-2 text-white">Loading...</h2>
    </div>
</div>
<!-- 
<div class="anim-btn">
    <button class="anim-btn__button">See all offers</button>
    <div class="anim-btn__overlay"></div>
</div> -->