// .right-top-header {
//     background-color: #fb8500;
//     padding: 10px 10px;

//     a {
//         color: #fff;
//         font-size: 25px;
//     }
// }

// a.cursor-pointer.float-right.close-menu {
//     float: left !important;
// }

// .notification {
//     background-color: #ffa500;
//     color: white;
//     text-decoration: none;
//     padding: 2px 5px;
//     position: relative;
//     display: inline-block;
//     border-radius: 2px;
// }

// .notification .badge {
//     position: absolute;
//     top: -4px;
//     right: -8px;
//     padding: 2px 5px;
//     border-radius: 50%;
//     background-color: red;
//     color: white;
// }
.right-top-header {
    background-color: #fb8500;
    height: 4rem
}