<div class="row right-top-header">
    <div class="col-lg-6 align-self-start">
        <!-- <a class="cursor-pointer float-right close-menu"><i class="fa fa-align-justify" aria-hidden="true"></i></a> -->
    </div>
    <div class="col-lg-6 align-self-end">
        <a class="cursor-pointer notification float-right"><i class="fa fa-bell-o" aria-hidden="true"></i>
        </a>
    </div>
</div>

<!-- <router-outlet></router-outlet> -->