/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.loader-body {
    height: 85vh;
    background: black;
    .spinner-border {
        display: inline-block;
        width: 10rem;
        height: 10rem;
        vertical-align: -0.125em;
        border: 1.25em solid currentColor;
        border-right-color: orange;
    }
}

