.table {
    overflow: hidden;
    background-color: #fff !important;

    thead {
        background: #fb8500;
        background-color: #3d414a;
        overflow: hidden;
        box-shadow: rgb(50 50 93 / 0%) 0px 13px 27px -5px, rgb(0 0 0 / 45%) 0px 8px 16px -8px;

        tr {
            th {
                padding: 5px;
                background: #fb8500;
                color: #04131e;
                border-bottom: 1px solid #f5cd94;
                font-size: 1.2rem;
                border: 0.1px solid #C7C7A6;
            }
        }
    }

    tbody {
        tr:hover {
            // background: #c9b299;
            background: #c4bbaf;

        }

        border: none;

        tr {
            td {
                color: #3c4858;
                font-size: 1rem;
                border: 0.1px solid #C7C7A6;
            }

            .fa-eye {
                font-size: 1.7rem;
                color: #1e2a3e;
            }
        }
    }
}

.page-link-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        vertical-align: middle;

        a {
            color: #000;
            display: block;
            font-size: 15px;
            font-weight: 500;
            transition: all 0.3s ease-in;

            &:hover,
            &.active-link {
                color: #ffa500;
            }
        }
    }
}

.fixed_table {
    table th {
        position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
        position: sticky;
        top: 0;
        z-index: 1; // any positive value, layer order is global
        background: #fff; // any bg-color to overlap
    }

    tbody {
        display: block;
        max-height: 45rem;
        overflow-x: hidden;
        overflow-y: auto;
    }

    thead,
    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

::ng-deep .ngx-pagination .current {
    background-color: #fb8500 !important;
    color: #fff;
}

.white-container .form-control {
    font-size: 15px;
    height: 35px;
    margin-bottom: 5px;
}

.white-container .white-con-header {
    padding: 9px 15px;
}

.selectedbutton {
    background: #fb936d;
    background: -moz-linear-gradient(45deg, #fb936d 0%, #feb663 98%);
    background: -webkit-linear-gradient(45deg, #fb936d 0%, #feb663 98%);
    background: linear-gradient(45deg, #fb936d 0%, #feb663 98%);
    color: #fff;
}

.btn-tabing {
    .btn {
        display: inline-block;
        color: #565656;
        border-radius: 29px 29px 0 0;
        height: 45px;
        font-size: 15px;
        background: #fff;
        box-shadow: 0 -9px 13px -12px rgba(0, 0, 0, 0.2);
        padding: 0 22px;
        border: 1px solid #fb936d !important;

        &.btn-selected {
            background: #fb936d;
            background: -moz-linear-gradient(45deg, #fb936d 0%, #feb663 98%);
            background: -webkit-linear-gradient(45deg, #fb936d 0%, #feb663 98%);
            background: linear-gradient(45deg, #fb936d 0%, #feb663 98%);
            color: #fff;
        }
    }
}

.four-button .btn:hover .btn-selected1 {
    background: #000 !important;
}


.cursor-pointer {
    cursor: pointer;
}

.section-divided {
    background: #f1faee;
    border: 0.1rem solid gray;
    border-radius: 0.4rem;
}

// ****topselectbar container*****
.topselect-container {
    position: absolute;
    top: 10px;
    right: 5rem;
    z-index: 999;
    left: 19rem;

    .row {
        display: flex;
        align-items: center;
    }

    .selector-field,
    .input-field {
        border-radius: 0.7rem;
        border: 1px solid #000;
        height: 3.9rem !important;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding-left: 0.7rem;
        background-color: #fff !important;
    }

    .input-field {
        padding-left: 0.7rem;
    }
}

.input-field {
    border-radius: 0.7rem;
    border: 1px solid #000;
    height: 2.5rem !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding-left: 0.7rem;
    background-color: #fff;
}

.msg-input {
    // height: auto !important;
    border: 0.1rem solid #000;
    border-radius: 0.7rem;
}

.label-text {
    font-size: 1.2rem !important;
    margin: 0 !important;
}

// .tellecaller-btn,
// .btn,
// button {
//     background: #1e2a3e;
//     color: white;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 5rem;
//     border: 0px;
//     font-size: 0.87rem;
//     padding: 7px 13px !important;
//     transition: 0.55s all ease-in;
//     // &:hover {
//     //     color: orange;
//     // }
// }

.anim-btn {
    position: relative;
    overflow: hidden;
}

.anim-btn__button {
    // padding: 16px 32px 13px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fb8500;
    color: #000;
    font-size: 16px;
    border-radius: 0px;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 300ms ease, transform 300ms ease;

    &:hover,
    &:focus {
        color: #fb8500;
        cursor: pointer;
    }

    &:hover+.anim-btn__overlay,
    &:focus+.anim-btn__overlay {
        transform: translateY(calc(-100% + 2px));
    }

    &:active {
        transform: scale(0.8);
    }

    &:active+.anim-btn__overlay {
        transform: translateY(calc(-100% + 2px)) scale(0.8);
    }
}

.anim-btn__overlay {
    // background-color: #fb8500;
    background-color: #000;

    height: calc(100% + 2px);
    width: 100%;
    position: absolute;
    bottom: calc(-100% - 2px);
    left: 0;
    z-index: -1;
    transition: transform 300ms ease;
}

// ***popupwork***
::ng-deep.modal-content {
    .modal-header {
        background-color: #282f41;
        text-align: center;
        color: #fff;

        h4 {
            font-size: 1.5rem;
            font-weight: 300;
        }

        .cross-icon {
            font-size: 1.77rem;
            cursor: pointer;
            margin-right: 0.3rem;
            z-index: 9999 !important;
        }
    }

    .modal-body {
        .form-div {
            .label-text {
                font-size: 1.2rem !important;
                margin: 0 !important;
            }

            .selector-field,
            .input-field {
                border-radius: 0.7rem;
                border: 1px solid #000 !important;
                height: 2.5rem !important;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                padding-left: 0.7rem;
                margin-bottom: 0.5rem;
            }

            .input-field {
                padding-left: 0.7rem;
            }

            .popup-button {

                button,
                .button {
                    background-color: #282f41 !important;
                    transition: all 0.09s ease-in;

                    &:hover {
                        background-color: #fba62f !important;
                        color: #282f41 !important;
                    }
                }
            }
        }
    }
}

// ****truncate table**
.table-container {
    .Inner-table {
        width: 100%;

        thead {
            height: 2.9rem;
            top: -1px;
            z-index: 1;
            position: sticky !important;

            tr {
                background: #fba62f;

                th {
                    font-size: 1rem;
                }
            }
        }

        tbody {
            tr {
                td {
                    // max-width: 100px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &:hover {
                    font-weight: bold;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                    td {
                        overflow: initial!important;
                        text-overflow: initial!important;
                        white-space: pre-line !important;
                        // overflow: hidden;
                        // text-overflow: ellipsis;
                        // display: -webkit-box;
                        // -webkit-box-orient: vertical;
                        // word-wrap: break-word!important;
                        overflow-wrap: break-word!important;
                    }
                }
            }
        }
    }
}

// ***mobile view of booking field****
@media screen and (max-width: 768px) {
    ::ng-deep.filter_tabing {
        .button-div {
            order: 2;

            .btn-tabing {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    height: 3.5rem !important;
                    font-size: 13px !important;
                    font-weight: bold !important;
                    padding: 0px !important;
                    min-width: auto !important;
                    border: 1px solid #fb936d !important;
                }
            }
        }
    }
}