.login-wrapper {
    background-image: url(../../assets/images/tellecallerbgimg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center top;
    // background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;

    .login-box {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        width: 855px;
        // background: #fff;
        border: 5px solid #000;
        margin: 144px auto 0 auto;
        max-width: 95%;
        padding: 25px;
        border-radius: 1rem;
        color: white;
        filter: blur(0px);
        backdrop-filter: blur(10px);

        &>.row {
            width: 100%;

            .border-right {
                border-right: 1px solid #000 !important;
            }
        }

        h2 {
            font-size: 22px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 15px;
        }

        p {
            font-size: 14px;

            a {
                color: #fb941d;
            }
        }
        .danger-text{
            font-size: 17px;
        }
        .form-control {
            border: 1px solid #aeaeae;
            border-radius: 10px;
            color: #a6a6a6;
            font-weight: 400;
            font-size: 15px;
            padding: 0 10px;
            height: 42px;
            box-shadow: none;
        }

        label {
            font-weight: 700;
        }

        .submit-btn {
            background-color: #1e2a3e;
            // color: #fff;
            border-radius: 5px;
            font-size: 17px;
            // letter-spacing: 0.5px;
            // border: none;
            // box-shadow: none;
            // width: 100%;
            margin-bottom: 25px;
            margin-top: 10px;
            padding-top: 8px;
            padding-bottom: 8px;
            transition: all 0.3s ease-in;
            display: block;
            text-align: center;
            cursor: pointer;

            &:hover {
                background: #fb941d;
            }
        }

        .line-div {
            width: 32%;
            border: 1px solid #fb941d;
        }
    }

    @media (max-width: 767px) {
        background-size: inherit;
        height: inherit;

        .login-box {
            margin: 14px auto 0 auto;
            max-width: 100%;
            padding: 15px 0;

            &>.row {
                .border-right {
                    border-right: none !important;
                }
            }

            h2 {
                font-size: 20px;
                line-height: 25px;
            }
        }
    }
}