<div class="login-wrapper">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-6">
                <!-- <div class="login-box login d-flex justify-content-center align-items-center"> -->
                <div class="row login-box login mx-auto d-flex justify-content-center align-items-center">
                    <div class="col border-right">
                        <h2 class="font-weight-bold m-0">RowthTech Sales Login</h2>
                        <div class="line-div mb-3"></div>
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <p></p>
                            <div class="form-group">
                                <label for="">Mobile Number</label>
                                <input class="form-control" formControlName="contact" placeholder="Mobile Number"
                                    type="text">
                                <p class="m-0 text-danger danger-text ps-2 my-1" *ngIf="mobileText">Mobile Number Is Not
                                    Correct</p>
                            </div>
                            <div class="form-group">
                                <label for="">Password</label>
                                <input class="form-control" formControlName="password" placeholder="Password"
                                    type="password">
                                <p class="m-0 text-danger danger-text ps-2 my-1" *ngIf="passwordText">Password Is Not
                                    Correct</p>
                            </div>

                            <div class="anim-btn mt-3">
                                <button
                                    class="btn anim-btn__button  d-flex align-items-center justify-content-center  p-2 text-white w-100"
                                    type="submit" [disabled]="loginForm.invalid">
                                    <span *ngIf="showLoder">Login</span>
                                    <div *ngIf="!showLoder" class="spinner-border text-success" role="status">
                                    </div>
                                </button>
                                <div class="anim-btn__overlay"></div>
                            </div>

                            <!-- <div class="col-auto me-2 anim-btn p-0">
                                <button class="btn anim-btn__button btn-primary tellecaller-btn mr-2"
                                    [disabled]="isExportingCSV" (click)="exportLeadCSV()">{{isExportingCSV ?
                                    'Exporting...' : 'Lead Export '}}</button>
                                <div class="anim-btn__overlay"></div>
                            </div> -->
                        </form>
                    </div>
                    <!-- <div class="col-lg-6 col-12">
                            <h2 class="font-weight-bold m-0">RowthTech Admin Portal</h2>
                            <div class="line-div mb-4"></div>
                            <p>Welcome to RowthAutos <br> Revolutionizing buying & Selling of cars.</p> -->
                    <!-- <p>Contact us at <a href="mailto:dealer@rowthautos.com">dealer@rowthautos.com</a></p> -->
                    <!-- <a routerLink="/register-dealer"
                                class="submit-btn border-0 rounded-pill text-white w-100">Dealer Registration Form</a> -->
                    <!-- <a href="https://t.rowthautos.com/login" class="submit-btn">Dealer Login</a> -->
                    <!-- </div> -->
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>