<div class="col  p-0 height-div">
    <div class="row">
        <div class="col-12">
            <div class="row mx-auto pt-2">
                <div class="col">
                    <a class=" d-block text-center rounded-3 "
                        href="https://www.rowthtech.com/" target="_blank">
                        <img class="bg-dark flex-grow-1 logo-div" src="../../assets/images/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="row mx-auto mt-5">
                <div class="col-12 sidebar-menu">
                    <div class="row mx-auto">
                        <div class="col-12">
                            <div class="row mx-auto">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 py-3  mb-2 cursor-pointer links_body" routerLink="staffui"
                                            routerLinkActive="active" style="cursor:pointer;">
                                            <a class="text-div sidebar_links    text-decoration-none"><span>
                                                    <i class="bi me-2 bi-person-workspace"></i>
                                                </span>CRM</a>
                                        </div>
                                        <div class="col-12 py-3 mb-2 cursor-pointer links_body" style="cursor:pointer;" (click)="logout()">
                                            <a class="text-div sidebar_links  text-decoration-none">
                                                <i class="bi bi-box-arrow-left me-2 sidebar-icon"></i>LogOut</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>