<div class="col height-div">
    <div class="row">
        <div class="col-12 blur-div">
            <div class="row mx-auto pt-2">
                <div class="col">
                    <a class="borde d-flex rounded-3 align-items-center justify-content-center b-dark"
                        href="https://www.rowthtech.com/" target="_blank">
                        <img class="bg-dark logo-div" src="../../assets/images/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="row mx-auto mt-5">
                <div class="col-12 sidebar-menu">
                    <div class="row mx-auto">
                        <div class="col-12 py-3 d-flex justify-content-start">
                            <div class="row">
                                <div class="col-12 py-3  mb-2 cursor-pointer links_body" routerLink="stafflist"
                                    routerLinkActive="active">
                                    <a class="text-div sidebar_links    text-decoration-none"><span>
                                            <i class="bi me-2 bi-person-workspace"></i>
                                        </span>STAFF</a>
                                </div>
                                <div class="col-12 py-3 mb-2   cursor-pointer links_body" routerLink="staffLead"
                                    routerLinkActive="active">
                                    <a class="text-div sidebar_links  text-decoration-none"><span>
                                            <i class="bi me-2 bi-people-fill"></i>
                                        </span>Sales Lead</a>
                                </div>
                                <div class="col-12 py-3 mb-2   cursor-pointer links_body">
                                    <a class="text-div sidebar_links  text-decoration-none" (click)="logout()"> <i
                                            class="bi bi-box-arrow-left me-2 sidebar-icon"></i>LogOut</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ul>
                                <li class="py-3">
                                    <a class="text-div cursor-pointer text-white text-decoration-none"
                                        routerLink="stafflist" routerLinkActive="active"><span>
                                            <i class="bi me-2 bi-person-workspace"></i>
                                        </span>STAFF</a>
                                </li>
                                <li class="py-3">
                                    <a class="text-div cursor-pointer text-white text-decoration-none"
                                        routerLink="staffLead" routerLinkActive="active"><span>
                                            <i class="bi me-2 bi-people-fill"></i>
                                        </span>Sales Lead</a>
                                </li>
                                <li>
                                    <a class="text-div cursor-pointer text-white text-decoration-none"
                                        (click)="logout()"> <i
                                            class="bi bi-box-arrow-left me-2 sidebar-icon"></i>LogOut</a>
                                </li>
                            </ul> -->