// // .sidebar-header {
// //     .logo {
// //         display: block;
// //         margin: 10px 0 30px;
// //         img {
// //             width: 100px;
// //             display: block;
// //             margin: 0 auto;
// //         }
// //     }
// // }

// .sidebar-menu {

//     padding: 0 20px 20px;
//     // width: 13%;
//     height: 100vh;
//     background: orange;
//     color: white;
//     padding: 5px;
//     ul {
//         margin: 0;
//         padding: 0;
//         list-style: none;
//         li {
//             a {
//                 color: #010101;
//                 border-bottom: 0.1rem solid;
//                 padding: 5px;
//                 display: block;
//                 font-size: 16px;
//                 padding: 16px 0;
//                 transition: all 0.3s ease-in;
//                 &:hover {
//                     // color: #f0901f;
//                     color: #fff;
//                 }
//             }
//             &.has-item {
//                 position: relative;
//                 ul.sub-menu {
//                     padding-left: 20px;
//                     display: none;
//                 }
//                 &::after {
//                     content: '';
//                    // background: url(../../../assets/img/select.png) no-repeat center center;
//                     width: 12px;
//                     height: 8px;
//                     display: block;
//                     position: absolute;
//                     right: 0;
//                     top: 21px;
//                 }
//             }
//         }
//     }
//     &::-webkit-scrollbar {
//         width: 10px;
//     }
//     &::-webkit-scrollbar-track {
//         background: #f1f1f1;
//         border-radius: 10px;
//     }
//     &::-webkit-scrollbar-thumb {
//         background: #888;
//         border-radius: 10px;
//     }
//     &::-webkit-scrollbar-thumb:hover {
//         background: #ffa500;
//     }
//     // .link-tab.link-div a.active{
//     //     color: #ffa500!important;


//     // }

//     a:hover{
//         color: #ffa500!important;
//     }
//     .div-set{
//         color: #000;
//     }
// }

// .height-div {
//     height: 100vh;
//     background-image: url(../../assets/images/sidebarimg.webp);
//     color: white;
//     box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

//     .blur-div {
//         // filter: blur(0px);
//         height: 100vh;
//         backdrop-filter: blur(3px);
//         background-size: cover;
//     }
// }


// .logo-div {
//     box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
// }

// .img-div {
//     img {
//         height: 30px;

//         width: 51px;
//     }
// }

// .text-div {
//     // color: #000;
//     font-size: 1.2rem;

//     .sidebar-icon {
//         font-size: 1.2rem;
//     }
// }

// li {
//     list-style: none;
// }

// a:hover {
//     color: #ffa500 !important;
// }

// .active {
//     color: #ffa500 !important;
// }
.height-div {
    .links_body:hover {
        background-color: #F2F2F2;
    }

    .links_body.active {
        background-color: #fb8500;
        box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(244 67 54 / 40%);
        border-radius: 0.4rem;
        .sidebar_links{
            color: #fff!important;
        }
    }

    .sidebar_links {
        border-radius: 3px;
        color: #3c4858;
        font-size: 1.11rem;
    }
}