.topadmin-container {
    position: absolute;
    right: 0;
    left: 16.7%;
    top: 5px;

    .input-div {
        outline: none;
    }


    .search_icon {
        width: 2.5rem;
        height: 2.5rem;
    }
}