<div class="topadmin-container">
    <div class="row mx-auto">
        <div class="col-auto  me-2">
            <div class="py-1 px-2  overflow-hidden d-flex align-items-center justify-content-between"
                [class.borderDanger]="borderDanger">
                <div class="d-flex align-items-center me-2 position-relative">
                    <input type="text" (keyup.enter)="searchLeads()" (keypress)="mobileNO($event)" maxlength="10"
                        [formControl]="leadNumData" maxlength="10"
                        class="border-0 p-1 border-bottom bg-transparent input-div " placeholder="Lead Id or Mobile">
                    <span aria-hidden="true" class="cross-icon position-absolute end-0 h4 mb-0 cursor-pointer"
                        (click)="staffData()" *ngIf="crossIcon">&times;</span>
                </div>
                <i class="fa fa-search rounded-pill cursor-pointer d-flex align-items-center justify-content-center search_icon p-2 bg-white"
                    (click)="searchLeads()" aria-hidden="true"></i>
            </div>
        </div>
        <div class="col-auto me-2">
            <div class="py-1 px-2  overflow-hidden d-flex align-items-center justify-content-between">
                <select class="form-select bg-transparent" aria-label="Default select example"
                    (change)="getStaffValue($event)">
                    <option selected>Select BD</option>
                    <option [value]="staffsValue._id" *ngFor="let staffsValue of staffsData">{{staffsValue?.Name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid  position-relative">
    <div class="row my-3">
        <!-- <div class="col-auto ms-auto anim-btn ms-auto p-0">
            <button class="anim-btn__button">Add new staff</button>
            <div class="anim-btn__overlay"></div>
        </div> -->
        <div class="col-auto me-2 anim-btn p-0">
            <button class="btn anim-btn__button btn-primary tellecaller-btn mr-2" [disabled]="isExportingCSV"
                (click)="exportLeadCSV()">{{isExportingCSV ?
                'Exporting...' : 'Lead Export '}}</button>
            <div class="anim-btn__overlay"></div>
        </div>
        <div class="col-auto me-2 anim-btn p-0">
            <button class="btn btn-primary anim-btn__button tellecaller-btn mr-2" [disabled]="isExportingCSV"
                (click)="exportLeadCSV1()">Fill Lead Export</button>
            <div class="anim-btn__overlay"></div>

        </div>
        <div class="col-auto me-2 anim-btn p-0">
            <input type="file" accept=".csv" (change)="onCSVSelected($event)" #file [hidden]="true">
            <button class="btn anim-btn__button tellecaller-btn btn-info" (click)="file.click()"
                [disabled]="isImportingCSV1">{{isImportingCSV1 ?
                'Importing...' : 'Lead Import '}}</button>
            <div class="anim-btn__overlay"></div>

        </div>
        <div class="col-auto anim-btn p-0 ms-auto">
            <button class="btn anim-btn__button  ms-auto" (click)="openAttachemnt(addLead)">Add Lead</button>
            <div class="anim-btn__overlay"></div>
        </div>
    </div>
    <div class="row">
        <div class="col p-0">
            <div
                class="col-12 white-con-body position-relative table-responsive-lg table-responsive-xl table-responsive-md p-xl-0 p-lg-0 p-md-0 p-0 fixed_table">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Lead ID</th>
                            <th scope="col">Date </th>
                            <th scope="col">Customer Name</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Project Details</th>
                            <th scope="col">Estimate</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let lead of staff |  paginate: { itemsPerPage: 20, currentPage: currentPage, totalItems: this.totalRecordsData}; let i = index ">
                            <td>
                                <span *ngIf="currentPage>0">{{ 20 * (currentPage-1) +i+1}}</span>
                                <span *ngIf="currentPage==0 ">{{ 20 * (currentPage) +i+1}}</span>
                            </td>
                            <td>{{lead?.leadId}}</td>
                            <td>{{lead?.createdAt|date}}</td>
                            <td>{{lead?.CxName}}</td>
                            <td>{{lead?.Phonenumber}}</td>
                            <td>{{lead?.ProjectDetails}}</td>
                            <td>{{lead?.Estimate || 0}}</td>
                            <td>
                                <i class="fa fa-eye cursor-pointer" aria-hidden="true"
                                    (click)="openActionBox(openAction,i)"></i>
                            </td>
                        </tr>
                    </tbody>
                    <div class="col-12 py-5" *ngIf="notFound">
                        <h3 class="text-danger text-center">No Data Found</h3>
                    </div>
                </table>
                <pagination-controls *ngIf="paginatinShow" (pageChange)="loadNextPage((currentPage = $event))"
                    previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination"
                    screenReaderPageLabel="page" [directionLinks]="true" [responsive]="true">
                </pagination-controls>
                <!-- <pagination-controls (pageChange)="currentPage = $event" class="float-right"></pagination-controls> -->
                <div class="loader-body flex-column position-absolute top-0 bottom-0 opacity-75 end-0 start-0 d-flex align-items-center justify-content-center"
                    *ngIf="loader">
                    <div class="spinner-border" role="status">
                    </div>
                    <h2 class="mb-0 mt-2 text-white">Loading...</h2>
                </div>
            </div>
        </div>
    </div>

</div>

<ng-template #addLead>
    <div class="header d-block p-0 modal-header">
        <div class="row mx-auto d-flex align-items-center justify-content-end ">
            <div class="col">
                <h4 class="m-0">Add Lead</h4>
            </div>
            <div class="col-auto">
                <span aria-hidden="true" class="cross-icon cursor-pointer"
                    (click)="this.modalRef.hide();">&times;</span>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <form [formGroup]="addLeadData" (ngSubmit)="allDataGet(addLeadData)">
            <div class="row">
                <div class="col selector-field d-flex flex-column ">
                    <label class="label-text">Customer Name<span style="color: red;">*</span></label>
                    <input type="text" placeholder="Enter Customer Name" class="form-control  input-field"
                        formControlName="Name">
                </div>
                <div class="col selector-field d-flex flex-column ">
                    <label class="label-text">Phone No<span style="color: red;">*</span></label>
                    <input type="tel" (keypress)="mobileNO($event)" maxlength="10" placeholder="Enter phone no"
                        class="form-control input-field" formControlName="Phone">
                </div>
                <div class="col selector-field d-flex flex-column ">
                    <label class="label-text">Project Details<span style="color: red;">*</span></label>
                    <textarea rows="1" placeholder="Enter Project Details" cols="30"
                        class="form-control msg-input nput-field" formControlName="ProjectDetails"></textarea>
                </div>
                <div class="col selector-field d-flex flex-column ">
                    <label class="label-text">Location<span style="color: red;">*</span></label>
                    <input rows="5" cols="30" class="form-control input-field" placeholder="Enter Location"
                        formControlName="Location">
                </div>
                <div class="col selector-field d-flex flex-column ">
                    <label class="label-text">Email</label>
                    <input type="email" placeholder="Enter Email" class="form-control  input-field"
                        formControlName="Email">
                </div>
                <div class="col selector-field d-flex flex-column ">
                    <label class="label-text">Status</label>
                    <select class="form-select input-field" formControlName="Status"
                        aria-label="Default select example">
                        <option selected> Select</option>
                        <option value="Pending">Pending</option>
                        <option value="Hot">Hot</option>
                        <option value="Warm">Warm</option>
                        <option value="Cold">Cold</option>
                        <option value="Lost">Lost</option>
                    </select>
                </div>
                <div class="col-12">
                    <div class="row mx-auto">
                        <div class="col-auto ms-auto mt-3 anim-btn p-0">
                            <button type="submit" [disabled]="addLeadData.invalid" class="btn anim-btn__button ms-auto"
                                (click)="this.modalRef.hide();">save</button>
                            <div class="anim-btn__overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #openAction>
    <div class="header d-block p-0 modal-header">
        <div class="row mx-auto d-flex align-items-center justify-content-end ">
            <div class="col text-start">
                <h4 class="m-0">{{paticularLead?.leadId}}</h4>
            </div>
            <div class="col-auto">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </div>
            <div class="col">
                <h4 class="m-0">{{paticularLead?.CxName}}</h4>
            </div>
            <div class="col-auto">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </div>
            <div class="col">
                <h4 class="m-0">{{paticularLead?.Phonenumber}}</h4>
            </div>
            <div class="col-auto">
                <span aria-hidden="true" class="cross-icon cursor-pointer"
                    (click)="this.modalRef1.hide();">&times;</span>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col">
                <label class="h3 m-0">Email:</label>
                <h5 class="m-0">{{paticularLead?.Email}}</h5>
            </div>
            <div class="col">
                <label class="h3 m-0">Location:</label>
                <h5 class="m-0">{{paticularLead?.Location}}</h5>
            </div>
            <div class="col">
                <label class="h3 m-0">Project Details:</label>
                <h5 class="m-0">{{paticularLead?.ProjectDetails}}</h5>
            </div>
        </div>
    </div>
</ng-template>


<!-- ***new work*** -->