<div class="container-fluid p-0 position-relative">
    <div class="row mx-auto">
        <div class="col p-0">
            <div class="row mx-auto mt-3">
                <div class="container-fluid">
                    <div class="row mx-auto">
                        <div class="row">
                            <div class="col-12">
                                <div class="row mx-auto topThree_btn position-absolute start-0 end-0">
                                    <div class="col topadmin-container" *ngIf="paramsID">
                                        <div class="row mx-auto pb-3">
                                            <div class="col-auto me-2">
                                                <div
                                                    class="py-1 px-2  overflow-hidden d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center me-2 position-relative">
                                                        <input type="text" (keyup.enter)="searchLeads()"
                                                            (keypress)="mobileNO($event)" maxlength="10"
                                                            [formControl]="leadNumData" maxlength="10"
                                                            class="border-0 p-1 border-bottom bg-transparent input-div "
                                                            placeholder="Lead Id or Mobile">
                                                        <!-- <span aria-hidden="true"
                                                            class="cross-icon position-absolute end-0 h4 mb-0 cursor-pointer"
                                                            (click)="staffData()">&times;</span> -->
                                                    </div>
                                                    <i class="fa fa-search rounded-pill cursor-pointer d-flex align-items-center justify-content-center search_icon p-2 bg-white"
                                                        (click)="searchLeads()" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="col-auto me-2">
                                                <div
                                                    class="py-1 px-2  overflow-hidden d-flex align-items-center justify-content-between">
                                                    <select class="form-select bg-transparent"
                                                        aria-label="Default select example"
                                                        (change)="getStaffValue($event)">
                                                        <option selected>Select BD</option>
                                                        <option [value]="staffsValue._id"
                                                            *ngFor="let staffsValue of staffsData">{{staffsValue?.Name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Sanjay -->
                                    <div class="col topadmin-container">
                                        <div class="row">
                                            <div class="col-auto" *ngIf="!paramsID">
                                                <div class="row">
                                                    <div
                                                        class="py-1 px-2 col-auto  overflow-hidden d-flex align-items-center justify-content-between">
                                                        <div class="d-flex align-items-center me-2 position-relative">
                                                            <input type="text" (keyup.enter)="searchLeads()"
                                                                (keypress)="mobileNO($event)" maxlength="10"
                                                                [formControl]="leadNumData" maxlength="10"
                                                                class="border-0 p-1 border-bottom bg-transparent input-div "
                                                                placeholder=" Enter Mobile Number">
                                                            <!-- <span aria-hidden="true"
                                                    class="cross-icon position-absolute end-0 h4 mb-0 cursor-pointer"
                                                    (click)="staffData()">&times;</span> -->
                                                        </div>
                                                        <i class="fa fa-search rounded-pill cursor-pointer d-flex align-items-center justify-content-center search_icon p-2 bg-white"
                                                            (click)="searchByMobileNumber()" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="col-auto">
                                                        <div
                                                            class="search-wrapper input-field d-flex align-items-center justify-content-center pl-0">
                                                            <input type="text" placeholder="Choose Follow-up date"
                                                                class="form-control input-field" bsDaterangepicker
                                                                [bsConfig]="{ isAnimated: true, rangeInputFormat: 'DD/MM/YYYY' }"
                                                                (bsValueChange)="onChangeDatas($event)"
                                                                [(bsValue)]="bsValue">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-auto ms-auto">
                                                <div class="row">
                                                    <div
                                                        class="col d-flex align-items-center justify-content-end four-button">
                                                        <div class="row" *ngIf="saleManageStatus === 'followup'">
                                                            <div class="col-auto">
                                                                <div class="anim-btn border">
                                                                    <button
                                                                        [ngClass]="{'btn-selected1': statusButton === 'HOT'} "
                                                                        (click)="changeStatus('HOT')"
                                                                        class="cursor-pointer anim-btn__button btn"> Hot
                                                                        <span
                                                                            class="badge badge-pill text-white bg-primary rounded-pill mx-1 badge-primary ml-1">{{totalRecordsofHot}}</span></button>
                                                                    <div class="anim-btn__overlay"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <div class="anim-btn border">
                                                                    <button
                                                                        [ngClass]="{'btn-selected1': statusButton === 'COLD'} "
                                                                        (click)="changeStatus('COLD')"
                                                                        class="cursor-pointer anim-btn__button  btn">
                                                                        COLD
                                                                        <span
                                                                            class="badge badge-pill text-white bg-primary rounded-pill mx-1 badge-primary ml-1">{{totalRecordsofCold}}</span></button>
                                                                    <div class="anim-btn__overlay"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto  ">
                                                                <div class="anim-btn border">
                                                                    <button
                                                                        [ngClass]="{'btn-selected1': statusButton === 'WARM'} "
                                                                        (click)="changeStatus('WARM')"
                                                                        class="cursor-pointer  anim-btn__button btn">
                                                                        WARM
                                                                        <span
                                                                            class="badge badge-pill text-white bg-primary rounded-pill mx-1 badge-primary ml-1">{{totalRecordsofWarm}}</span></button>
                                                                    <div class="anim-btn__overlay"></div>
                                                                </div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <div class="anim-btn border">
                                                                    <button
                                                                        [ngClass]="{'btn-selected1': statusButton === 'LOST'} "
                                                                        (click)="changeStatus('LOST')"
                                                                        class="cursor-pointer  anim-btn__button btn">
                                                                        LOST
                                                                        <span
                                                                            class="badge badge-pill text-white bg-primary rounded-pill mx-1 badge-primary ml-1">{{totalRecordsOfLost}}</span></button>
                                                                    <div class="anim-btn__overlay"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row btn-tabing mx-auto">
                                    <div class="col-auto">
                                        <div class="row">
                                            <div class="col-auto p-0">
                                                <button [ngClass]="{'btn-selected': saleManageStatus === 'pending'} "
                                                    (click)="changeStatus('pending')" class="cursor-pointer btn">
                                                    Pending
                                                    <span
                                                        class="badge badge-pill text-white bg-primary rounded-pill mx-1 badge-primary ml-1">{{totalRecordsofPendings}}</span>
                                                </button>
                                            </div>
                                            <div class="col-auto p-0">
                                                <button [ngClass]="{'btn-selected': saleManageStatus === 'followup'}"
                                                    (click)="changeStatus('followup')" class="cursor-pointer btn">
                                                    Follow-up <span
                                                        class="badge badge-pill mx-1 text-white bg-primary rounded-pill badge-primary ml-1">{{totalRecordsofFollowUp}}</span></button>
                                            </div>
                                            <div class="col-auto p-0">
                                                <button [ngClass]="{'btn-selected': saleManageStatus === 'invoice'} "
                                                    (click)="changeStatus('invoice');invoiceLeads()"
                                                    class="cursor-pointer btn">
                                                    Invoice <span
                                                        class="badge badge-pill text-white bg-primary rounded-pill mx-1 badge-primary ml-1">{{totalRecordsOfInvoice}}</span></button>
                                            </div>
                                            <div class="col-auto p-0">
                                                <button [ngClass]="{'btn-selected': saleManageStatus === 'converted'} "
                                                    (click)="changeStatus('converted')" class="cursor-pointer btn">
                                                    Converted
                                                    <span
                                                        class="badge badge-pill text-white bg-primary rounded-pill mx-1 badge-primary ml-1">{{totalRecordsOfconvertedLead}}</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto ms-auto" *ngIf="status === 'pending'">
                                        <button class="btn" (click)="openLeadPopUp(openLead)">Add Leads</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row mx-auto white-container box-shadow mt-0">
                                            <div
                                                class="col-12 white-con-body position-relative fixed_table table-container table-responsive-lg table-responsive-xl table-responsive-md p-xl-0 p-lg-0 p-md-0 p-0">
                                                <table class="table table-borderless Inner-table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Lead ID</th>
                                                            <th scope="col">Customer Name </th>
                                                            <th scope="col">Email Id</th>
                                                            <th scope="col">Location</th>
                                                            <th scope="col">Mobile</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="status === 'followup'">
                                                        <tr
                                                            *ngFor="let carLead of staffData | paginate: { itemsPerPage: sizePerPage, currentPage: currentPage, totalItems: this.totalRecordsofFollowUp}; let i = index">
                                                            <td>{{i + 1}}</td>
                                                            <td>{{carLead.leadId}}</td>
                                                            <td>{{carLead.CxName}}</td>
                                                            <!-- <td>{{carLead.Email}}</td> -->
                                                            <td>
                                                                <span
                                                                    *ngIf="carLead.Email !='' || carLead.Email != null">{{carLead.Email}}</span>
                                                                <span
                                                                    *ngIf="carLead.Email=='' || carLead.Email== null"><i
                                                                        class="fa fa-minus" aria-hidden="true"></i>
                                                                </span>
                                                            </td>
                                                            <td>{{carLead.Location}}</td>
                                                            <td>{{carLead.Phonenumber}}</td>
                                                            <td (click)="openModal(onRoad,i,'followup')">
                                                                <i class="fa fa-eye cursor-pointer"
                                                                    aria-hidden="true"></i>
                                                            </td>
                                                        </tr>
                                                        <tr class="text-danger text-center"
                                                            *ngIf="staffData?.length==0">
                                                            <span class="text-danger h1"> Data No Found</span>
                                                        </tr>
                                                    </tbody>

                                                    <tbody *ngIf="status === 'HOT'">
                                                        <tr
                                                            *ngFor="let data of staffData | paginate: { itemsPerPage: sizePerPage, currentPage: currentPage, totalItems: this.totalRecordsofHot}; let i = index">
                                                            <td>{{i + 1}}</td>
                                                            <td>{{data.leadId}}</td>
                                                            <td>{{data.CxName}}</td>
                                                            <!-- <td>{{data.Email}}</td> -->
                                                            <td><span
                                                                    *ngIf="data.Email !='' || data.Email != null">{{data.Email}}</span><span
                                                                    *ngIf="data.Email=='' || data.Email== null"><i
                                                                        class="fa fa-minus" aria-hidden="true"></i>
                                                                </span></td>
                                                            <td>{{data.Location}}</td>
                                                            <td>{{data.Phonenumber}}</td>
                                                            <td (click)="openModal(onRoad,i,'HOT')">
                                                                <i class="fa fa-eye cursor-pointer"
                                                                    aria-hidden="true"></i>
                                                            </td>
                                                        </tr>
                                                        <tr class="text-danger text-center"
                                                            *ngIf="staffData?.length==0">
                                                            <span class="text-danger h1"> Data No Found</span>
                                                        </tr>
                                                    </tbody>

                                                    <tbody *ngIf="status === 'pending'">
                                                        <tr
                                                            *ngFor="let data of staffData | paginate: { itemsPerPage: sizePerPage, currentPage: currentPage, totalItems: this.totalRecordsofPendings}; let i = index">
                                                            <td>{{i + 1}}</td>
                                                            <td>{{data.leadId}}</td>
                                                            <td>{{data.CxName}}</td>
                                                            <td>
                                                                <span
                                                                    *ngIf="data.Email !='' || data.Email != null">{{data.Email}}</span>
                                                                <span *ngIf="data.Email=='' || data.Email== null"><i
                                                                        class="fa fa-minus" aria-hidden="true"></i>
                                                                </span>
                                                            </td>
                                                            <td>{{data.Location}}</td>
                                                            <td>{{data.Phonenumber}}</td>
                                                            <td (click)="openModal(onRoad,i,'pending')" class="">
                                                                <!-- <i class="bi fa-eye cursor-pointer bi-eye-fill"></i> -->
                                                                <i class="fa fa-eye cursor-pointer"
                                                                    aria-hidden="true"></i>
                                                            </td>
                                                        </tr>
                                                        <tr class="text-danger text-center" *ngIf="NotData">
                                                            <span class="text-danger h1"> Data No Found</span>
                                                        </tr>
                                                    </tbody>
                                                    <tbody *ngIf="status === 'COLD'">
                                                        <tr
                                                            *ngFor="let data of staffData | paginate: { itemsPerPage: sizePerPage, currentPage: currentPage, totalItems: this.totalRecordsofCold}; let i = index">
                                                            <td>{{i + 1}}</td>
                                                            <td>{{data.leadId}}</td>
                                                            <td>{{data.CxName}}</td>
                                                            <!-- <td>{{data.Email}}</td> -->
                                                            <td><span
                                                                    *ngIf="data.Email !='' || data.Email != null">{{data.Email}}</span><span
                                                                    *ngIf="data.Email=='' || data.Email== null"><i
                                                                        class="fa fa-minus" aria-hidden="true"></i>
                                                                </span></td>
                                                            <td>{{data.Location}}</td>
                                                            <td>{{data.Phonenumber}}</td>
                                                            <td (click)="openModal(onRoad,i,'COLD')">
                                                                <!-- <i class="bi fa-eye cursor-pointer bi-eye-fill"></i> -->
                                                                <i class="fa fa-eye cursor-pointer"
                                                                    aria-hidden="true"></i>

                                                            </td>
                                                        </tr>
                                                        <tr class="text-danger text-center"
                                                            *ngIf="staffData?.length==0">
                                                            <span class="text-danger h1"> Data No Found</span>
                                                        </tr>
                                                    </tbody>
                                                    <tbody *ngIf="status === 'WARM'">
                                                        <tr
                                                            *ngFor="let data of staffData | paginate: { itemsPerPage: sizePerPage, currentPage: currentPage, totalItems: this.totalRecordsofWarm}; let i = index">
                                                            <td>{{i + 1}}</td>
                                                            <td>{{data.leadId}}</td>
                                                            <td>{{data.CxName}}</td>
                                                            <!-- <td>{{data.Email}}</td> -->
                                                            <td><span
                                                                    *ngIf="data.Email !='' || data.Email != null">{{data.Email}}</span><span
                                                                    *ngIf="data.Email=='' || data.Email== null"><i
                                                                        class="fa fa-minus" aria-hidden="true"></i>
                                                                </span></td>
                                                            <td>{{data.Location}}</td>
                                                            <td>{{data.Phonenumber}}</td>
                                                            <td (click)="openModal(onRoad,i,'WARM')">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <!-- <i class="fa  fa-eye cursor-pointer bi-eye-fill"></i> -->
                                                            </td>
                                                        </tr>
                                                        <tr class="text-danger text-center"
                                                            *ngIf="staffData?.length==0">
                                                            <span class="text-danger h1"> Data No Found</span>
                                                        </tr>
                                                    </tbody>
                                                    <tbody *ngIf="status === 'LOST'">
                                                        <tr
                                                            *ngFor="let data of staffData | paginate: { itemsPerPage: sizePerPage, currentPage: currentPage, totalItems: this.totalRecordsOfLost}; let i = index">
                                                            <td>{{i + 1}}</td>
                                                            <td>{{data.leadId}}</td>
                                                            <td>{{data.CxName}}</td>
                                                            <!-- <td>{{data.Email}}</td> -->
                                                            <td><span
                                                                    *ngIf="data.Email !='' || data.Email != null">{{data.Email}}</span><span
                                                                    *ngIf="data.Email=='' || data.Email== null"><i
                                                                        class="fa fa-minus" aria-hidden="true"></i>
                                                                </span></td>
                                                            <td>{{data.Location}}</td>
                                                            <td>{{data.Phonenumber}}</td>
                                                            <td (click)="openModal(onRoad,i,'LOST')">
                                                                <!-- <i class="bi fa-eye cursor-pointer bi-eye-fill"></i> -->
                                                                <i class="fa fa-eye cursor-pointer"
                                                                    aria-hidden="true"></i>

                                                            </td>
                                                        </tr>
                                                        <tr class="text-danger text-center"
                                                            *ngIf="staffData?.length==0">
                                                            <span class="text-danger h1"> Data No Found</span>
                                                        </tr>
                                                    </tbody>

                                                    <tbody *ngIf="status === 'invoice'">
                                                        <tr
                                                            *ngFor="let data of staffData | paginate: { itemsPerPage: sizePerPage, currentPage: currentPage, totalItems: this.totalRecordsOfInvoice}; let i = index">
                                                            <td>{{i + 1}}</td>
                                                            <td>{{data.leadId}}</td>
                                                            <td>{{data.CxName}}</td>
                                                            <!-- <td>{{data.Email}}</td> -->
                                                            <td><span
                                                                    *ngIf="data.Email !='' || data.Email != null">{{data.Email}}</span><span
                                                                    *ngIf="data.Email=='' || data.Email== null"><i
                                                                        class="fa fa-minus" aria-hidden="true"></i>
                                                                </span></td>
                                                            <td>{{data.Location}}</td>
                                                            <td>{{data.Phonenumber}}</td>
                                                            <td (click)="openModal(onRoad,i,'invoice')">
                                                                <i class="bi fa-eye cursor-pointer bi-eye-fill"></i>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tbody *ngIf="status === 'converted'">
                                                        <tr
                                                            *ngFor="let data of staffData | paginate: { itemsPerPage: sizePerPage, currentPage: currentPage, totalItems: this.totalRecordsOfconvertedLead}; let i = index">
                                                            <td>{{i + 1}}</td>
                                                            <td>{{data.leadId}}</td>
                                                            <td>{{data.CxName}}</td>
                                                            <td>{{data.Email}}</td>
                                                            <td>{{data.Location}}</td>
                                                            <td>{{data.Phonenumber}}</td>
                                                            <td (click)="openModal(onRoad,i,'converted')">
                                                                <!-- <i class="bi fa-eye cursor-pointer bi-eye-fill"></i> -->
                                                                <i class="fa fa-eye" aria-hidden="true"></i>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="page-pagination row justify-content-center">
                                                    <!-- directionLinks="true"responsive="true" -->
                                                    <pagination-controls
                                                        (pageChange)="loadNextPage((currentPage = $event))"
                                                        previousLabel="Prev" nextLabel="Next"
                                                        screenReaderPaginationLabel="Pagination"
                                                        screenReaderPageLabel="page">
                                                    </pagination-controls>
                                                </div>
                                                <div class="loader-body flex-column position-absolute bottom-0 top-0 opacity-75 end-0 start-0 d-flex align-items-center justify-content-center"
                                                    *ngIf="loader">
                                                    <div class="spinner-border" role="status">
                                                    </div>
                                                    <h2 class="mb-0 mt-2 text-white">Loading...</h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #onRoad>
        <!-- new work static  start********** -->
        <div class="modal-header d-block">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-auto">
                    <h4 class="m-0">Lead #{{indexData?.leadId}}</h4>
                </div>
                <div class="col-auto">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </div>
                <div class="col-auto">
                    <div class="d-flex align-items-center" *ngIf="hideInput!='nameField'">
                        <h4 class="m-0 me-2" *ngIf="!inputName">{{indexData?.CxName}}</h4>
                        <h4 class="m-0 me-2" *ngIf="inputName">{{inputName}}</h4>
                        <i class="bi ms-1 cursor-pointer bi-pencil" (click)="openInput('nameField')"></i>
                    </div>
                    <div class="d-flex align-items-center" *ngIf="hideInput=='nameField'">
                        <input type="text" [(ngModel)]="inputName" class="form-control input-field"
                            placeholder="Enter Customer Name">
                        <span aria-hidden="true" class="cross-icon ms-1 m-0 cursor-pointer"
                            (click)="openInput('i')">&times;</span>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </div>
                <div class="col-auto">
                    <div class="d-flex align-items-center" *ngIf="hideInput!='phoneField'">
                        <h4 class="m-0" *ngIf="!phnoneField">{{indexData?.Phonenumber}}</h4>
                        <h4 class="m-0" *ngIf="phnoneField">{{phnoneField}}</h4>
                        <i class="bi ms-1 cursor-pointer bi-pencil" (click)="openInput('phoneField')"></i>
                    </div>
                    <div class="d-flex align-items-center" *ngIf="hideInput=='phoneField'">
                        <input type="text" [(ngModel)]="phnoneField" (keypress)="mobileNO($event)" maxlength="10"
                            class="form-control input-field" placeholder="Enter Mobile Number">
                        <span aria-hidden="true" class="cross-icon ms-1 m-0 cursor-pointer"
                            (click)="openInput('i')">&times;</span>
                    </div>
                </div>
                <div class="col-auto">
                    <span aria-hidden="true" class="cross-icon cursor-pointer"
                        (click)="hideModel(indexData.salesteleLeadStatus,crossIndex)">&times;</span>
                </div>
            </div>
        </div>
        <div class="modal-body py-0">
            <div class="row mx-auto mt-3 section-divided d-flex align-items-center justify-content-between">
                <div class="col selector-field d-flex flex-column ">
                    <label class="label-text">Location:</label>
                    <h5 class="m-0">{{indexData?.Location}}</h5>
                </div>
                <div class="col selector-field d-flex flex-column ">
                    <label class="label-text">Email:</label>
                    <div class="col-auto">
                        <div class="d-flex align-items-center" *ngIf="hideInput!='emailField'">
                            <!-- <h4 class="m-0" *ngIf="!emailField && indexData?.Email.length<20">{{indexData?.Email}}</h4>
                        <h4 class="m-0" *ngIf="!emailField && indexData?.Email.length>20">
                            {{indexData?.Email.slice(0,20).concat('...')}}</h4> -->
                            <h5 class="m-0" *ngIf="indexData?.Email=='' || indexData?.Email == null">Not Available
                            </h5>
                            <h5 class="m-0" *ngIf="emailField && emailField?.length<20">{{emailField}}</h5>
                            <h5 class="m-0" *ngIf="emailField && emailField?.length>20">
                                {{emailField?.slice(0,15).concat('...')}}</h5>
                            <i class="bi ms-1 cursor-pointer bi-pencil" (click)="openInput('emailField')"></i>
                        </div>
                        <div class="d-flex mb-2 align-items-center" *ngIf="hideInput=='emailField'">
                            <input type="email" [(ngModel)]="emailField" class="form-control input-field"
                                placeholder="Enter Email Id">
                            <span aria-hidden="true" class="cross-icon ms-1 m-0 cursor-pointer"
                                (click)="openInput('i')">&times;</span>
                        </div>
                    </div>
                </div>
                <div class="col selector-field d-flex flex-column">
                    <div class="anim-btn">
                        <button class="btn btn anim-btn__button" (click)="inputAdd('mobileNo')">Add Multiple
                            Mobile No</button>
                        <div class="anim-btn__overlay"></div>
                    </div>
                </div>
                <div class="col selector-field d-flex flex-column ">
                    <div class="anim-btn">
                        <button class="btn btn anim-btn__button" (click)="inputAdd('emailData')">Add Multiple
                            Email Id</button>
                        <div class="anim-btn__overlay"></div>
                    </div>
                </div>
            </div>
            <div class="row mx-auto pt-2 pb-3 mt-3 section-divided d-flex align-items-center"
                *ngIf="mobileBox && this.phNumberArray.length>0 || mobileBox && this.emailArray.length>0">
                <div class="col-auto selector-field d-flex flex-column"
                    *ngFor="let phNumber of phNumberArray;let i=index">
                    <label class="label-text"><span *ngIf="allPhNumber.length===0">Enter</span>
                        Mobile No</label>
                    <div class="d-flex align-items-center">
                        <input type="text" class="input-field" *ngIf="numberType == 'number'"
                            (keypress)="mobileNO($event)" maxlength="13" (change)="getPhValue($event,'inputValue')"
                            placeholder="Enter Mobile No">
                        <input type="text" class="input-field" [value]="phNumber" *ngIf="numberType == 'string'"
                            (keypress)="mobileNO($event)" maxlength="13" [value]="phNumber"
                            (change)="getPhValue($event,'inputValue')" placeholder="Enter Mobile No">
                        <span aria-hidden="true" class="cross-icon ms-1 m-0 cursor-pointer"
                            (click)="removeNumber(i,'mobileRemove')">&times;</span>
                    </div>
                </div>
                <div class="col-auto selector-field d-flex flex-column"
                    *ngFor="let emailData of emailArray;let i=index">
                    <label class="label-text"><span *ngIf="allEmaiArray.length==0">Enter</span> Email Id</label>
                    <div class="d-flex align-items-center">

                        <input type="text" class="input-field" *ngIf="emailType=='number'"
                            (change)="getPhValue($event,'emailValue')" placeholder="Enter Email Id">
                        <input type="text" class="input-field" *ngIf="emailType=='string'" [value]="emailData"
                            (change)="getPhValue($event,'emailValue')" placeholder="Enter Email Id">
                        <!-- <input type="text" class="input-field" *ngIf="phNumber.length < 5" (keypress)="mobileNO($event)" maxlength="10"
                        (change)="getPhValue($event)" placeholder="Enter Mobile No"> -->
                        <span aria-hidden="true" class="cross-icon ms-1 m-0 cursor-pointer"
                            (click)="removeNumber(i,'emailRemove')">&times;</span>
                    </div>
                </div>
            </div>
            <!-- ;hideModel(indexData.salesteleLeadStatus,crossIndex) -->
            <form role="form" [formGroup]="salesCallerCRMForm"
                (ngSubmit)="save();hideModel(indexData.salesteleLeadStatus,crossIndex)">
                <div class="row mx-auto">
                    <div class="col-lg-12">
                        <div class="white-container box-shadow">
                            <div class="white-con-body">
                                <div class="row section-divided py-3 my-2">
                                    <div class="col-3 selector-field d-flex flex-column ">
                                        <label class="label-text">Status<span style="color: red;">*</span></label>
                                        <select class="form-contro input-field" (click)="getStatus()"
                                            formControlName="salesteleLeadStatus" required>
                                            <option value="">Select</option>
                                            <option value="HOT">HOT</option>
                                            <option value="WARM">WARM</option>
                                            <option value="COLD">COLD</option>
                                            <option value="LOST" [disabled]="this.commentLength?.length<5">Lost</option>
                                            <option value="Invoice">Invoice</option>
                                            <option value="Converted">Converted</option>
                                        </select>
                                        <p class="text-danger m-0 ps-2" *ngIf="f('salesteleLeadStatus')">
                                            Status is
                                            required</p>
                                    </div>
                                    <div class="col" *ngIf="this.leadStatusData!='LOST'">
                                        <div class="row">
                                            <div class="col selector-field">
                                                <label class="label-text">Follow up Date <span style="color: red;"
                                                        *ngIf="isRequiredField()">*</span></label>
                                                <input type="date" class="form-control input-field"
                                                    formControlName="followUpDate" [required]="isRequiredField()">
                                                <!-- <p class="text-danger m-0 ps-2"
                                                *ngIf="f['followUpDate'].pristine">
                                                Follow up Date is
                                                required</p> -->
                                                <p class="text-danger m-0 ps-2" *ngIf="f('followUpDate')">
                                                    follow Up Date is
                                                    required</p>
                                            </div>

                                            <div class="col selector-field d-flex flex-column">
                                                <label class="label-text">Follow up Time<span style="color: red;"
                                                        *ngIf="isRequiredField()">*</span></label>
                                                <select class="form-contro  input-field" formControlName="followUpTime">
                                                    <option value="">Select</option>
                                                    <option value="Morning">Morning</option>
                                                    <option value="Afternoon">Afternoon</option>
                                                    <option value="Evening">Evening</option>
                                                </select>
                                                <!-- <p class="text-danger m-0 ps-2"
                                                *ngIf="f['followUpTime'].pristine">
                                                Follow up Time is
                                                required</p> -->
                                                <p class="text-danger m-0 ps-2" *ngIf="f('followUpTime')">
                                                    Follow up Time is
                                                    required</p>
                                            </div>
                                            <div class="col selector-field d-flex flex-column">
                                                <label class="label-text">Pipeline<span style="color: red;"
                                                        *ngIf="isRequiredField()">*</span></label>
                                                <select class="form-contro  input-field" formControlName="monthWise">
                                                    <option value="">Select</option>
                                                    <option value="January">January</option>
                                                    <option value="February">February</option>
                                                    <option value="March">March</option>
                                                    <option value="April">April</option>
                                                    <option value="May">May</option>
                                                    <option value="June">June</option>
                                                    <option value="July">July</option>
                                                    <option value="August">August</option>
                                                    <option value="September">September</option>
                                                    <option value="October">October</option>
                                                    <option value="November">November</option>
                                                    <option value="December">December</option>
                                                </select>
                                                <!-- <p class="text-danger m-0 ps-2"
                                                *ngIf="f['monthWise'].pristine">
                                                Pipeline is
                                                required</p> -->
                                                <p class="text-danger m-0 ps-2" *ngIf="f('monthWise')">
                                                    monthWise is
                                                    required</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="this.leadStatusData!='LOST'">
                                    <div class="row section-divided py-3 my-2">
                                        <div class="col-4 selector-field">
                                            <label class="label-text">Technology<span style="color: red;"
                                                    *ngIf="isRequiredField()">*</span></label>
                                            <div class="border border-dark rounded-3">
                                                <ng-multiselect-dropdown [settings]="dropdownSettings"
                                                    [placeholder]="'Select'" [data]="tech"
                                                    [(ngModel)]="indexData.technology"
                                                    [ngModelOptions]="{standalone: true}"
                                                    (onSelect)="onTechSelect($event)" [required]='isRequiredField()'
                                                    (onDeSelect)="onDeSelect($event)">
                                                </ng-multiselect-dropdown>
                                            </div>
                                            <!-- <p class="text-danger m-0 ps-2"
                                            *ngIf="f['technology'].pristine">
                                            technology is
                                            required</p> -->
                                            <p class="text-danger m-0 ps-2" *ngIf="selectTech.length==0">
                                                technology is
                                                required</p>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-12" *ngIf="mobilevalue">
                                                    <div class="row d-flex align-items-center">
                                                        <div class="col-2">
                                                            <label class="label-text">Mobile<span style="color: red;"
                                                                    *ngIf="isRequiredField()">*</span></label>
                                                            <div class="border border-dark rounded-3">
                                                                <ng-multiselect-dropdown [settings]="dropdownSettings"
                                                                    [placeholder]="'Select'" [data]="mobileData"
                                                                    [(ngModel)]="indexData.mobile"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (onSelect)="onMobileSelect($event)"
                                                                    [required]='isRequiredField()'
                                                                    (onDeSelect)="onMobileDeSelect($event)">
                                                                </ng-multiselect-dropdown>
                                                            </div>
                                                        </div>
                                                        <!-- [readonly]="status != 'pending'"
                                                    [ngClass]="{'disable-div': status != 'pending'}" -->
                                                        <div class="time-div  p-0 col-2 mt-auto"
                                                            *ngFor="let selectData of selectMobile;let i=index">
                                                            <span><span *ngIf="status === 'pending'">Enter</span>
                                                                {{selectData?.name}} Hrs</span>
                                                            <input type="number" class="py-1 input-field px-2 w-75"
                                                                [formControlName]="selectData?.name"
                                                                [placeholder]="selectData?.name"
                                                                (change)="mobileValueGet($event,i,status,selectData?.name)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12" *ngIf="TestingValue">
                                                    <div class="row d-flex align-items-center">
                                                        <div class="col-2">
                                                            <label class="label-text">Testing<span style="color: red;"
                                                                    *ngIf="isRequiredField()">*</span></label>
                                                            <div class="border border-dark rounded-3">
                                                                <ng-multiselect-dropdown [settings]="dropdownSettings"
                                                                    [placeholder]="'Select'" [data]="TestingData"
                                                                    [(ngModel)]="indexData.Testing"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (onSelect)="onTestingSelect($event)"
                                                                    [required]='isRequiredField()'
                                                                    (onDeSelect)="onTestingDeSelect($event)">
                                                                </ng-multiselect-dropdown>
                                                            </div>
                                                        </div>
                                                        <!-- [ngClass]="{'disable-div': status != 'pending'}"
                                                    [readonly]="status != 'pending' && this.salesCallerCRMForm.get(selectData?.name)?.value" -->
                                                        <div class="time-div  p-0 col-2 mt-auto"
                                                            *ngFor="let selectData of selectTesting;let i=index">
                                                            <span *ngIf="selectData?.name.length>10"><span
                                                                    *ngIf="status === 'pending'">Enter</span>
                                                                {{selectData?.name.slice(0,10).concat('...')}}
                                                                Hrs</span>
                                                            <input type="number" class="py-1 input-field px-2 w-75"
                                                                [formControlName]="selectData?.name"
                                                                [placeholder]="selectData?.name"
                                                                (change)="testingValueGet($event,i,selectData?.name)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12" *ngIf="designValue">
                                                    <div class="row d-flex align-items-center">
                                                        <div class="col-2">
                                                            <label class="label-text">Design<span style="color: red;"
                                                                    *ngIf="isRequiredField()">*</span></label>
                                                            <div class="border border-dark rounded-3">
                                                                <ng-multiselect-dropdown [settings]="dropdownSettings"
                                                                    [placeholder]="'Select'" [data]="DesignData"
                                                                    [(ngModel)]="indexData.Design"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (onSelect)="onDesignSelect($event)"
                                                                    [required]='isRequiredField()'
                                                                    (onDeSelect)="onDesignDeSelect($event)">
                                                                </ng-multiselect-dropdown>
                                                            </div>
                                                        </div>
                                                        <!-- [readonly]="status != 'pending' && this.salesCallerCRMForm.get(selectData?.name)?.value "
                                                    [ngClass]="{'disable-div': status != 'pending'}" -->
                                                        <div class="time-div  p-0 col-2 mt-auto"
                                                            *ngFor="let selectData of selectDesign;let i=index">
                                                            <span *ngIf="selectData?.name.length>10"><span
                                                                    *ngIf="status === 'pending'">Enter</span>
                                                                {{selectData?.name.slice(0,10).concat('...')}}
                                                                Hrs</span>
                                                            <span *ngIf="selectData?.name.length<10"><span
                                                                    *ngIf="status === 'pending'">Enter</span>
                                                                {{selectData?.name}} Hrs</span>
                                                            <input type="number" class="py-1 input-field px-2 w-75"
                                                                [formControlName]="selectData?.name"
                                                                [placeholder]="selectData?.name"
                                                                (change)="designValueGet($event,i,selectData?.name)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12" *ngIf="ecommerceValue">
                                                    <div class="row d-flex align-items-center">
                                                        <div class="col-2">
                                                            <label class="label-text">Ecommerce<span style="color: red;"
                                                                    *ngIf="isRequiredField()">*</span></label>
                                                            <div class="border border-dark rounded-3">
                                                                <ng-multiselect-dropdown [settings]="dropdownSettings"
                                                                    [placeholder]="'Select'" [data]="ecommerceData"
                                                                    [(ngModel)]="indexData.Ecommerce"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (onSelect)="onEcommerceSelect($event)"
                                                                    [required]='isRequiredField()'
                                                                    (onDeSelect)="onEcommerceDeSelect($event)">
                                                                </ng-multiselect-dropdown>
                                                            </div>
                                                        </div>
                                                        <!-- [ngClass]="{'disable-div': status != 'pending'}"
                                                    [readonly]="status != 'pending' && this.salesCallerCRMForm.get(selectData?.name)?.value" -->
                                                        <div class="time-div  p-0 col-2 mt-auto"
                                                            *ngFor="let selectData of selectEcommerce;let i=index">
                                                            <span *ngIf="selectData?.name.length<10"><span
                                                                    *ngIf="status === 'pending'">Enter</span>
                                                                {{selectData?.name}} Hrs</span>
                                                            <span *ngIf="selectData?.name.length>10"><span
                                                                    *ngIf="status === 'pending'">Enter</span>
                                                                {{selectData?.name.slice(0,10).concat('...')}}
                                                                Hrs</span>
                                                            <input type="number" class="py-1 input-field px-2 w-75"
                                                                [formControlName]="selectData?.name"
                                                                [placeholder]="selectData?.name"
                                                                (change)="ecommerceValueGet($event,i,selectData?.name)">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12" *ngIf="webFrontValue">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <label class="label-text">FrontEnd<span style="color: red;"
                                                                    *ngIf="isRequiredField()">*</span></label>
                                                            <div class="border border-dark rounded-3">
                                                                <ng-multiselect-dropdown [settings]="dropdownSettings"
                                                                    [placeholder]="'Select'" [data]="webDatafrontEnd"
                                                                    [(ngModel)]="indexData.webfront"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (onSelect)="onwebFrontEndSelect($event)"
                                                                    [required]='isRequiredField()'
                                                                    (onDeSelect)="onwebFrontEndDeSelect($event)">
                                                                </ng-multiselect-dropdown>
                                                            </div>
                                                        </div>
                                                        <!-- [readonly]="status != 'pending'" -->
                                                        <!-- [ngClass]="{'disable-div': status != 'pending'}" -->
                                                        <div class="time-div  p-0 col-2 mt-auto"
                                                            *ngFor="let selectWebFrontData of slectWebFrontEnd;let i=index">
                                                            <span><span *ngIf="status === 'pending'">Enter</span>
                                                                {{selectWebFrontData?.name}} Hrs</span>
                                                            <input type="number" class="py-1 input-field px-2 w-75"
                                                                (change)="frontEndvalueGet($event,i,selectWebFrontData?.name)"
                                                                [formControlName]="selectWebFrontData?.name"
                                                                [placeholder]="selectWebFrontData?.name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12" *ngIf="webBackEndValue">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <label class="label-text">BackEnd<span style="color: red;"
                                                                    *ngIf="isRequiredField()">*</span></label>
                                                            <div class="border border-dark rounded-3">
                                                                <ng-multiselect-dropdown [settings]="dropdownSettings"
                                                                    [placeholder]="'Select'" [data]="webDataBackEnd"
                                                                    [(ngModel)]="indexData.webback"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (onSelect)="onwebBackEndSelect($event)"
                                                                    [required]='isRequiredField()'
                                                                    (onDeSelect)="onwebBackEndDeSelect($event)">
                                                                </ng-multiselect-dropdown>
                                                            </div>
                                                        </div>
                                                        <!-- [ngClass]="{'disable-div': status != 'pending'}"
                                                    [readonly]="status != 'pending'" -->
                                                        <div class="time-div  p-0 col-2 mt-auto"
                                                            *ngFor="let slectWebBacktData of slectWebBacktEnd;let i=index">
                                                            <span><span *ngIf="status === 'pending'">Enter</span>
                                                                {{slectWebBacktData?.name}} Hrs</span>
                                                            <input type="number" class="py-1 input-field px-2 w-75"
                                                                [formControlName]="slectWebBacktData?.name"
                                                                (change)="backEndValueGet($event,i,slectWebBacktData?.name)"
                                                                [placeholder]="slectWebBacktData?.name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12" *ngIf="marketingValue">
                                                    <div class="row">
                                                        <div class="col-2">
                                                            <label class="label-text">Marketing<span style="color: red;"
                                                                    *ngIf="isRequiredField()">*</span></label>
                                                            <div class="border border-dark rounded-3">
                                                                <ng-multiselect-dropdown [settings]="dropdownSettings"
                                                                    [placeholder]="'Select'" [data]="marketing"
                                                                    [(ngModel)]="indexData.marketing"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (onSelect)="onMarketelect($event)"
                                                                    [required]='isRequiredField()'
                                                                    (onDeSelect)="onMarketDeSelect($event)">
                                                                </ng-multiselect-dropdown>
                                                            </div>
                                                        </div>
                                                        <div class="time-div  p-0 col-2 mt-auto"
                                                            *ngFor="let selectMarketingData of selectMarketing;let i=index">
                                                            <span *ngIf="selectMarketingData?.name.length<10"><span
                                                                    *ngIf="status === 'pending'">Enter</span>
                                                                {{selectMarketingData?.name}}
                                                                Hrs</span>
                                                            <span *ngIf="selectMarketingData?.name.length>10"><span
                                                                    *ngIf="status === 'pending'">Enter</span>
                                                                {{selectMarketingData?.name.slice(0,10).concat('...')}}
                                                                Hrs</span>
                                                            <input type="number" class="py-1 input-field px-2 w-75"
                                                                [formControlName]="selectMarketingData?.name"
                                                                (change)="MarketingDataGet($event,selectMarketingData?.name)"
                                                                [placeholder]="selectMarketingData?.name">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row section-divided py-3 my-2">
                                        <div class="col selector-field">
                                            <label class="label-text">Estimate Hours </label>
                                            <input name="Estimate" placeholder="Eg: 5hours"
                                                class="form-control disable-div input-field " type="number"
                                                formControlName="Estimate" readonly [required]="isRequiredField()">
                                        </div>
                                        <div
                                            class="col position-relative d-flex flex-column align-items-center selector-field">
                                            <label class="label-text">Schedule Meeting Time
                                            </label>
                                            <div class="anim-btn">
                                                <a class="d-block anim-btn__button btn"
                                                    href="https://meet.google.com/?hs=197&pli=1&authuser=0"
                                                    target="_blank">Google Meet</a>
                                                <div class="anim-btn__overlay"></div>
                                            </div>
                                        </div>
                                        <div class="col selector-field d-flex flex-column">
                                            <label class="label-text">Remarks<span style="color: red;"
                                                    *ngIf="isRequiredField()">*</span></label>
                                            <select class="form-contrl input-field" formControlName="remarks">
                                                <option value="">Select</option>
                                                <option value="Follow-up">Follow-up</option>
                                                <option value="Booked Outside">Booked Outside</option>
                                                <option value="Not Intrested">Not Intrested</option>
                                                <option value="Issue">Issue</option>
                                                <option value="Not connected">Not connected</option>
                                                <option value="Not Answering">Not Answering</option>
                                            </select>
                                            <p class="text-danger m-0 ps-2" *ngIf="f('remarks')">
                                                remarks is
                                                required</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row section-divided py-3 my-2">
                                    <div *ngIf="this.leadStatusData!='LOST'">
                                        <div class="col-12 mb-3 d-flex flex-column selector-field">
                                            <label class="label-text">Job Title<span
                                                    style="color: red;">*</span></label>
                                            <input type="text" class="input-field" formControlName="jobTitle"
                                                placeholder="Enter Job Title">
                                            <p class="text-danger m-0 ps-2" *ngIf="f('jobTitle')">
                                                jobTitle is
                                                required</p>
                                        </div>
                                        <div class="col-12 mb-3 selector-field">
                                            <label class="label-text">Job Description<span
                                                    style="color: red;">*</span></label>
                                            <textarea name="requirements" class="form-control msg-input" rows="5"
                                                cols="30" formControlName="requirements"
                                                [required]="isRequiredField()"></textarea>
                                            <p class="text-danger m-0 ps-2" *ngIf="f('requirements')">
                                                requirements is
                                                required</p>
                                        </div>
                                    </div>
                                    <div class="col-12 position-relative col-md-4 selector-field"
                                        *ngIf="status != 'pending'">
                                        <label class="label-text">Old Comments </label>
                                        <textarea name='comments' formControlName="comments" readonly
                                            class="form-control disable-div msg-input" rows="5" cols="30">
                                    </textarea>

                                    </div>

                                    <div class="col-12 position-relative col-md-4 selector-field">
                                        <label class="label-text">Comments <span style="color: red;">*</span></label>
                                        <textarea name="newComments" class="form-control msg-input" rows="5" cols="30"
                                            formControlName="newComments" [required]="isRequiredField()"></textarea>
                                        <!-- <p class="text-danger m-0 ps-2" *ngIf="f['newComments'].pristine">
                                        comments is
                                        required</p> -->
                                        <p class="text-danger m-0 ps-2" *ngIf="f('newComments')">
                                            newComments is
                                            required</p>
                                    </div>

                                    <div class="col-12 col-md-4 selector-field">
                                        <div class="row">
                                            <div class="col-12" *ngIf="indexData?.type==null">
                                                <label class="label-text">Attachment file</label>
                                                <input type="file" accept="image/png, image/gif, image/jpeg, .pdf" #file
                                                    (change)="onFileSelect(file.files)" />
                                            </div>
                                            <div class="col-12 mt-4" *ngIf="indexData?.type!=null">
                                                <div class="anim-btn">
                                                    <button type="button" class="btn anim-btn__button"
                                                        (click)="openAttachemnt(viewAttach)">View
                                                        Attachment</button>
                                                    <div class="anim-btn__overlay"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12" *ngIf="this.leadStatusData!='LOST'">
                                        <div class="row">
                                            <div class="col-4 mt-2 d-flex flex-column">
                                                <label class="label-text">Google Document</label>
                                                <div class="d-flex align-items-center">
                                                    <input class="form-control w-50 input-field "
                                                        *ngIf="googleType=='number'|| googleType== 'undefined'"
                                                        placeholder="Enter Google Doc"
                                                        (change)="getPhValue($event,'googleDoc')">
                                                    <input class="form-control w-50 input-field "
                                                        *ngIf="googleType=='string'" [value]="googleDocArray[0]"
                                                        placeholder="Enter Google Doc"
                                                        (change)="getPhValue($event,'googleDoc')">
                                                    <div class="anim-btn mx-auto">
                                                        <button type="button" (click)="inputAdd('googleDoc')"
                                                            class="btn anim-btn__button">Add More</button>
                                                        <div class="anim-btn__overlay"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4 mt-2 d-flex flex-column"
                                                *ngFor="let googleDocData of googleDocArray.slice(1);let i=index">
                                                <label class="label-text">Google Document</label>
                                                <div class="d-flex align-items-center ">
                                                    <input type="ulr"
                                                        *ngIf="googleType=='number' || googleType== 'undefined'"
                                                        class="form-control w-50 input-field "
                                                        placeholder="Enter Google Doc"
                                                        (change)="getPhValue($event,'googleDoc')">
                                                    <input type="ulr" *ngIf="googleType=='string'"
                                                        [value]="googleDocData" class="form-control w-50 input-field "
                                                        placeholder="Enter Google Doc"
                                                        (change)="getPhValue($event,'googleDoc')">
                                                    <div class="anim-btn mx-2">
                                                        <button type="button" (change)="getPhValue($event,'googleDoc')"
                                                            class="btn anim-btn__button">+</button>
                                                        <div class="anim-btn__overlay"></div>
                                                    </div>
                                                    <div class="anim-btn">
                                                        <button type="button" (click)="removeNumber(i,'googleDoc')"
                                                            class="btn anim-btn__button">-</button>
                                                        <div class="anim-btn__overlay"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" d-flex mt-3 justify-content-end align-items-center">
                                        <div class="anim-btn">
                                            <input type="submit" [disabled]="salesCallerCRMForm.invalid" value="SUBMIT"
                                                class="btn anim-btn__button">
                                            <div class="anim-btn__overlay"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </ng-template>


    <ng-template #viewAttach>
        <div class="header d-block p-0 modal-header">
            <div class="row mx-auto d-flex align-items-center justify-content-end ">
                <div class="col-auto">
                    <span aria-hidden="true" class="cross-icon cursor-pointer"
                        (click)="this.modalRef1.hide();">&times;</span>
                </div>
            </div>
        </div>
        <div class="col-12 border">
            <img class="popup-image" *ngIf="imgURL" [src]="imgURL" alt="">
            <img class="popup-image" *ngIf="!imgURL && status != 'pending' && !pdfUrl"
                src="../../assets/images/imagenotfound.jpg" alt="">
            <pdf-viewer *ngIf="pdfUrl" [src]="pdfUrl" [stick-to-page]="true" [render-text-mode]="2" [render-text]="true"
                [fit-to-page]="false" [show-all]="false" [external-link-target]="'none'" [original-size]="false"
                [autoresize]="true" [autoresize]="true" style="width:300px; height: 500px">
            </pdf-viewer>
        </div>
    </ng-template>



    <ng-template #openLead>
        <div class="header d-block p-0 modal-header">
            <div class="row mx-auto d-flex align-items-center justify-content-end ">
                <div class="col">
                    <h4 class="m-0">Add Lead</h4>
                </div>
                <div class="col-auto">
                    <span aria-hidden="true" class="cross-icon cursor-pointer"
                        (click)="this.modalRef2.hide();staffLeadForm.reset()">&times;</span>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <form [formGroup]="staffLeadForm" (ngSubmit)="sendLeadData(staffLeadForm)">
                <div class="row">
                    <div class="col selector-field d-flex flex-column ">
                        <label class="label-text text-truncate">Customer Name<span style="color: red;">*</span></label>
                        <input type="text" placeholder="Enter Customer name"
                            class="form-control text-capitalize input-field" formControlName="Name">
                    </div>
                    <div class="col selector-field d-flex flex-column ">
                        <label class="label-text">Phone No<span style="color: red;">*</span></label>
                        <input type="tel" maxlength="13" (keypress)="keyPressNumbers($event)"
                            placeholder="Enter phone no" class="form-control text-capitalize  input-field"
                            formControlName="Phone">
                    </div>
                    <div class="col selector-field d-flex flex-column ">
                        <label class="label-text text-truncate">Project Details<span
                                style="color: red;">*</span></label>
                        <textarea rows="1" cols="30" class="form-control  msg-input nput-field"
                            placeholder="Enter Project Details" formControlName="ProjectDetails"></textarea>
                    </div>
                    <div class="col selector-field d-flex flex-column ">
                        <label class="label-text">Location<span style="color: red;">*</span></label>
                        <input rows="5" cols="30" class="form-control text-capitalize   input-field"
                            placeholder="Enter location" formControlName="Location">
                    </div>
                    <div class="col selector-field d-flex flex-column ">
                        <label class="label-text">Source<span style="color: red;">*</span></label>
                        <select class="form-select form-control text-capitalize  input-field"
                            aria-label="Default select example" formControlName="source">
                            <option value="Referrals">Referrals</option>
                            <option value="Upwork">Upwork</option>
                            <option value="Linkedin">Linkedin</option>
                            <option value="Inbound">Inbound</option>

                        </select>
                    </div>
                    <div class="col selector-field d-flex flex-column ">
                        <label class="label-text">Email</label>
                        <input type="email" placeholder="Enter Email" class="form-control text-capitalize  input-field"
                            formControlName="Email">
                    </div>
                    <div class="col selector-field d-flex flex-column ">
                        <label class="label-text">Status</label>
                        <select class="form-select input-field" formControlName="Status"
                            aria-label="Default select example">
                            <option selected> Select</option>
                            <option value="pending">Pending</option>
                            <option value="HOT">Hot</option>
                            <option value="WARM">Warm</option>
                            <option value="COLD">Cold</option>
                            <option value="LOST">Lost</option>
                        </select>
                    </div>

                    <div class="col-12 mt-3">
                        <div class="anim-btn">
                            <button type="submit" class="btn anim-btn__button ms-auto"
                                [disabled]="staffLeadForm.invalid" (click)="this.modalRef2.hide();">save</button>
                            <div class="anim-btn__overlay"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>