// .height-div {
//     height: 100vh;
// }

// .img-div {
//     img {
//         height: 30px;
//         width: 51px;
//     }
// }

// .text-div {
//     // color: #000;
//     font-size: 1.2rem;
//     .sidebar-icon {
//         font-size: 1.2rem;
//     }
// }

// li {
//     list-style: none;
// }

// a:hover {
//     color: #ffa500 !important;
// }
::ng-deep.item1 {
    .multiselect-item-checkbox {
        display: none !important;
    }
}

// .time-div{
//     input{
//         width: 9rem;
//         margin-left: 8px;
//     }
// }

// .selected-img {
//     width: 20rem;
//     height: 6rem;
//     margin-top: 4px;
// }
.topThree_btn {
    top: -3rem;
    // right: 0;
    z-index: 999;
}

.popup-image {
    width: inherit;
}

.input-div {
    outline: none;
}

.hideInput {
    display: none !important;
}

.disable-div {
    background-color: #dad7cd !important;
    cursor: not-allowed ! important;
}

.search-wrapper{
    padding-left: 0 !important;
}


